html {
	
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: 100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 10pt;
	
	vertical-align: baseline;
	font-family: 'Open Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.page{
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	
}
.header{
	
}
.banner_header{
	width: 100%;
	height: 119px;
	background-image: url(images/header.jpg);
	background-position: left center;
	background-repeat: no-repeat;
	position: relative;
}
.banner_header h1{
	position: absolute;
	bottom: -10px;
	right: 10px;
	color: #fff;
	font-family: "Times New Roman", Georgia, Serif;
	text-transform: uppercase;
	font-size: 39pt;
	opacity: 0.8;
	width: 80%;
	text-align: right;
}
.bar_center_header{
	height: 30px;
	border-left: 3px solid #357db8;
	border-right: 3px solid #357db8;
		
	font-weight: bold;
	line-height: 2em;
	padding-left: 10px;
	text-transform: uppercase;
	color: #1391c4;
	font-family: "Times New Roman", Georgia, Serif;
}
.content{
	min-height: 620px;
	background-image: url(images/background.jpg);
	background-position: center center;
	background-size: cover;
	
}
.divisor{
	border: 7px solid #fff;
}
.footer{
	border-top: 7px solid #78cdd0;
	background-color: #1391c4;
	height: 40px;
}
.login_page{
	width: 50%;
	float: right;
	min-height: 610px;
	background-image: url(images/engranes.png);
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-right: 10%;
	position: relative;
}
#login{
	width: 30%;
	float: left;
	margin-left: 10%;
	margin-top: 400px;
}
#login .error_msg{
	font-size: 10pt;
	color: #3582bf;
}
.label_usuario{
	float: left;
	width: 39%;
	height: 30px;
	background-color: #3582bf;
	color: #fff;
	font-size: 10pt;
	text-align: right;
	padding-right: 1%;
	line-height: 1.8em;
	background-image: url(images/engrane_bullet.png);
	background-position: left center;
	background-size: 32px;
	background-repeat: no-repeat;
	-webkit-border-radius: 18px 0px 0px 18px;
	-moz-border-radius: 18px 0px 0px 18px;
	border-radius: 18px 0px 0px 18px;
}
.input_usuario{
	float: left;
	width: 60%;
	height: 30px;
	margin-bottom: 10px;
}
.input_usuario input{
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	-webkit-border-radius: 0px 10px 10px 0px;
	-moz-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
	border: 0;
}
.row_usuario{
	padding-left: 15px;
	
}
#loginBtn{
	float: right;
	display: block;
	width: 128px;
	height: 28px;
	background-image: url(images/btn_login.png);
	background-position: center center;
	background-size: 100%;
	background-color: transparent;
	border: 0;
	text-indent: -3000px;
	cursor: pointer;
}
.eaf_option{
	position: absolute;
	display: block;
	width: 100px;
	height: 100px;
	background-image: url(images/eaf.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	top: 17%;
	left: 42%;
}
.eaf_option:hover{
	background-image: url(images/eaf_gray.png);
}

.fdp_option{
	position: absolute;
	display: block;
	width: 100px;
	height: 100px;
	background-image: url(images/fdp.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	top: 38%;
	left: 23%;
}
.fdp_option:hover{
	background-image: url(images/fdp_gray.png);
}
.fdpi_option{
	position: absolute;
	display: block;
	width: 84px;
	height: 84px;
	background-image: url(images/LOGO-FDP.gif);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	top: 23%;
	left: 15%;
}
.fdpi_option:hover{
	background-image: url(images/LOGO-FDP.gif);
}

.fpm_option{
	position: absolute;
	display: block;
	width: 80px;
	height: 80px;
	background-image: url(images/fpm.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	top: 29%;
	left: 64%;
}
.fpm_option:hover{
	background-image: url(images/fpm_gray.png);
}
.btnTokenFDP{
	padding: 10px;
	
	background-color: #1391c4; /* Green */
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}
.btnNextFDP{
	padding: 10px;
	float: right;
	background-color: #1391c4; /* Green */
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px; 
	
}
.btnNextFDP:hover{
	text-decoration: none;
	color: #fff;
}
.btn-success {
    background-color: #1391c4;
    border-color: #1391c4;
    color: #fff;
    padding: 6px;
}
.panel_eaf{
	width: 100%;
	margin: 0 auto 0;
	
	min-height: 500px;
}
.block_1_eaf{
	min-width: 320px;
	min-height: 620px;
	width: 50%;
	float: left;
	position: relative;
}
.block_2_eaf{
	min-width: 320px;
	min-height: 620px;
	width: 50%;
	float: left;
	position: relative;
}
.eaf_reclutamiento_option{
	display: block;
	width: 25%;
	height: 25%;
	background-image: url(images/1_reclutamiento.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	top: 5%;
	left: 15.9%;
}
.eaf_reclutamiento_option:hover{
	background-image: url(images/1_reclutamiento_hover.png);
}
.eaf_capacitacion_option{
	display: block;
	width: 33%;
	height: 33%;
	background-image: url(images/2_capacitacion.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	top: 18%;
	left: 47%;
}
.eaf_capacitacion_option:hover{
	background-image: url(images/2_capacitacion_hover.png);
}
.eaf_recursos_humanos{
	display: block;
	width: 29%;
	height: 29%;
	background-image: url(images/RECURSOSH.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	top: 22%;
	left: 20.8%;
}
.eaf_recursos_humanos:hover{
	background-image: url(images/RECURSOSHE.png);
}
.eaf_descuentos_option{
	display: block;
	width: 29%;
	height: 29%;
	background-image: url(images/6_descuentos.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	position: absolute;
	top: 35%;
	left: 37%;
}
.eaf_descuentos_option:hover{
	background-image: url(images/6_descuentos_hover.png);
}
.eaf_altas_option{
	display: block;
	width: 22%;
	height: 22%;
	background-image: url(images/4_alta.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	top: 7%;
	left: 36%;
}
.eaf_altas_option:hover{
	background-image: url(images/4_alta_hover.png);
}
.eaf_asistencia_option{
	display: block;
	width: 29%;
	height: 29%;
	background-image: url(images/5_asistencia.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	position: absolute;
	top: 11%;
	left: 70%;
}
.eaf_asistencia_option:hover{
	background-image: url(images/5_asistencia_hover.png);
}

.eaf_bonos_option{
	display: block;
	width: 29%;
	height: 29%;
	background-image: url(images/3_bonos.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	position: absolute;
	top: 50%;
	left: 0%;
}
.eaf_bonos_option:hover{
	background-image: url(images/3_bonos_hover.png);
}
.eaf_movimientos_option{
	display: block;
	width: 29%;
	height: 29%;
	background-image: url(images/7_movimientos.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	position: absolute;
	top: 38%;
	left: 11%;
}
.eaf_movimientos_option:hover{
	background-image: url(images/7_movimientos_hover.png);
}
.eaf_incapacidad_option{
	display: block;
	width: 31%;
	height: 31%;
	background-image: url(images/8_incapacidad.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	position: absolute;
	top: 31%;
	left: 49%;
}
.eaf_incapacidad_option:hover{
	background-image: url(images/8_incapacidad_hover.png);
}
.eaf_expediente_option{
	display: block;
	width: 29%;
	height: 29%;
	background-image: url(images/9_expediente.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	position: absolute;
	top: 27%;
	left: 70%;
}
.eaf_expediente_option:hover{
	background-image: url(images/9_expediente_hover.png);
}
.eaf_nomina_option{
	display: block;
	width: 29%;
	height: 29%;
	background-image: url(images/10_nomina.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	position: absolute;
	top: 54%;
	left: 59%;
}
.eaf_nomina_option:hover{
	background-image: url(images/10_nomina_hover.png);
}
.eaf_vacaciones_option{
	display: block;
	width: 29%;
	height: 29%;
	background-image: url(images/11_vacaciones.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	position: absolute;
	top: 65%;
	left: 73%;
}
.eaf_vacaciones_option:hover{
	background-image: url(images/11_vacaciones_hover.png);
}
.eaf_engrane_gde{
	width: 30%;
	height: 30%;
	background-image: url(images/engrane_une.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	top: 49%;
	left: 33%;
}

.etabs { margin: 0; padding: 0; }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
.panel-container{
	min-height: 563px;
}
.panel-container h2{
	font-size: 10pt;
	width: 100%;
	background-color: #1391c4;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.panel-container h2 label{
	padding: 5px;
}
.formulario_fdp table tr td{
	padding-top: 5px;
	padding-bottom: 5px;
}
.formulario_fdp table tr td textarea{
	width: 80%;
	min-height: 150px;
	margin: 0 auto;
}
.formulario_fdp table tr td input[type="text"]{
	padding: 5px;
}

.content_generic{
	min-height: 630px;
	background: #fff;
}
.block_box_gen_rh{
	float: left;
	min-height: 300px;
	width: 23.7% !important;
	margin-left: 0.65%;
	margin-right: 0.65%;
	border: 1px solid #357db8;
}
.block_box_gen{
	float: left;
	min-height: 300px;
	width: 32%;
	margin-left: 0.65%;
	margin-right: 0.65%;
	margin-bottom: 0.65%;
	border: 1px solid #357db8;
}
.block_box_gen h2{
	width: 100%;
	text-align: center;
	color: #fff;
	background-color: #357db8;
	padding: 5px;
}
.block_box_gen ul{
	list-style: none;
	margin: 0;
	padding: 10px;
}
.block_box_gen ul li{
	padding-left: 10px;
	background-image: url(images/bullet_blue.gif);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 6px;
	margin-bottom: 5px;
	color: #357db8;
}
@media only screen and (min-width : 1024px) {
	
}

@media screen and (min-width: 631px) and (max-width: 960px){
	.login_page{
		width: 620px;
		float: none;
		min-height: 610px;
		background-image: url(images/engranes.png);
		background-position: center center;
		background-size: 100%;
		background-repeat: no-repeat;
		margin-right: 10%;
		position: relative;
		margin: 0 auto;
	}
	#login{
		width: 50%;
		float: left;
		margin-left: 10%;
		margin-top: 0px;
	}
	.eaf_option{
		top: 11%;
		left: 44%;
	}
	.fdp_option{
		top: 36%;
		left: 25%;
	}
	.fdpi_option{
		top: 36%;
		left: 25%;
	}
	.fpm_option{
		top: 26%;
		left: 65%;
	}
	.banner_header h1{
		position: absolute;
		bottom: -15px;
		right: 10px;
		color: #fff;
		font-family: "Times New Roman", Georgia, Serif;
		text-transform: uppercase;
		font-size: 40pt;
		opacity: 0.8;
	}
	.block_box_gen_rh{
		
		min-height: 300px;
		width: 48.7% !important;
		margin-left: 0.65%;
		margin-right: 0.65%;
		margin-bottom: 10px;
		border: 1px solid #357db8;
	}
	
}

@media screen and (min-width: 320px) and (max-width: 630px) {
	.login_page{
		width: 315px;
		float: none;
		min-height: 410px;
		background-image: url(images/engranes.png);
		background-position: center center;
		background-size: 100%;
		background-repeat: no-repeat;
		margin-right: 10%;
		position: relative;
		margin: 0 auto;
	}
	#login{
		width: 310px;
		float: left;
		margin: 0 auto;
	}
	.eaf_option{
		width: 70px;
		height: 70px;
		top: 18%;
		left: 41%;
	}
	.fdp_option{
		height: 65px;
		left: 22%;
		top: 38%;
		width: 65px;
	}
	.fdpi_option{
		height: 65px;
		left: 22%;
		top: 38%;
		width: 65px;
	}
	.fpm_option{
		height: 50px;
		left: 64%;
		top: 31%;
		width: 50px;
	}
	.banner_header h1{
		position: absolute;
		bottom: 0px;
		right: 10px;
		color: #fff;
		font-family: "Times New Roman", Georgia, Serif;
		text-transform: uppercase;
		font-size: 17pt;
		opacity: 0.8;
	}
	.block_box_gen{
		float: none;
		min-height: 300px;
		width: 90%;
		margin: 10px auto !important;
		border: 1px solid #357db8;
		
	}
	.block_box_gen_rh{
		float: none !important;
		min-height: 300px;
		width: 90% !important;
		margin: 10px auto !important;
		border: 1px solid #357db8;
	}
}
